

body {
    background-color:black;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-image: url("bg_img.png");
    background-size: 360px 520px;
    background-repeat:no-repeat;

}

#wrap {
    position:relative;
}

 #switch {
    position:absolute;
    left:260px;
    top:50px
}
.head-set {
    color:white;
    position:absolute;
    left:46px;
    top:10px;
    margin:0px;

}
.head-set_select {

    position:absolute;
    left:50px;
    top:60px;
    margin:0px;
    padding-left:50px;

}
.select-set{
    width: 270px !important;
    background-color: black;
    color: white;
}
.first-layer {
    position:absolute;
    left:50px;
    top:150px;
    margin:0px;
}
.second-layer {
}
.second-layer #pitch {
    position:absolute;
    left:40px;
    top:250px;
}
.second-layer >.first {
    position:absolute;
    left:45px;
    top:390px;
    color:white;
}

.second-layer > .second {
    position:absolute;
    left:245px;
    top:390px;
    color:white;
}


.third-layer {
    position:absolute;
    left:50px;
    top:460px;
    margin:0px;
}

.third-layer > .select-preset {
    width: 270px !important;
    background-color: black;
    color: white;
}
